<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<%= form_for @articulo, url: {action: "create"} do |f| %>
<%= f.label :titulo %> <br>
<%= f.text_field :titulo %> <br>

<%= f.label :contenido %> <br>
<%= f.text_area :contenido %> <br>

<%= f.submit "Crear Artículo" %>
<% end %>